.wrapper {
  margin: 0 auto;
}

.main {
    background: #fff;
    color: #000;
  }

  #services, #projects, #contacts, #about {
    height: 100vh;
  }

  #about {
    background: #072856;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__text-section {
    width: 50%;
  }

  .about__image-section {
    width: 50%;
  }

  .about-title {
    color: #fff;
    font-size: 86px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin: 4px 0;
  }

  .about-description {
    color: #fff;
    font-size: 20.6px;
    font-weight: 400;
    font-style: normal;
    max-width: 40rem;
    margin-left: auto;
    padding: 20px;
  }

.about-image {
  margin: 0 auto;
  display: flex;
  padding: 25px 0;
}

.about-profession {
  display: block;
  text-align: center;
  padding: 0 65px;
  text-transform: capitalize;
  color: #e9dada;
  letter-spacing: 0.2rem;
}


