.header {
    text-align: center;
    height: 100vh;


  .header-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(to bottom, #ebdcc9, #ebdcc9 50%, #fff 75%);
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
  }

  .header-list-item {
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
  } 

  .header-list-item a {
    color: #072856;
    cursor: pointer;
    text-decoration: none;
  }

  .header-list-item a:hover {
    color: #1151ab;
    text-decoration: underline;
  }

  .header__logo-info {
    background: linear-gradient(to top, rgba(2,0,36,1) 0%, rgb(255, 255, 255) 65%);
    height: inherit;
    background-image: url('../../assets/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__title {
    font-family: 'The Nautigal', cursive;
    text-transform: capitalize;
    font-size: 10rem;
    font-weight: 600;
    color: #072856;
    margin: inherit;
  }

  .header__title-name {
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 600;
  }

  .header__description {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
  }
  
  .header__button {
    background-color: #072856;
    border: none;
    border-radius: 50px;
    width: 11rem;
    height: 4rem;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header__button:hover {
    background-color: #1151ab;
    border: 1px solid #edf2f9;
  }

  button:active {
    transform: scale(0.96);
  }

  .header__button a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }

  
}

